<div class="container">
    <h1>Dodaj posiłek</h1>
    <hr />
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <form #createMealForm="ngForm" (ngSubmit)="addMeal()" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="date">Data:</label>
                <em *ngIf="createMealForm.controls.date?.invalid && (createMealForm.controls.date?.touched || mouseoverSave)">Wymagane</em>
                <my-date-picker name="date" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" locale="pl" required></my-date-picker>
            </div>
            <div class="form-group">
                <label for="name">Nazwa</label>
                <em *ngIf="createMealForm.controls.name?.invalid && (createMealForm.controls.name?.touched || mouseoverSave)">Wymagane</em>
                <input [(ngModel)]="meal.name" name="name" id="name" type="text" class="form-control" required placeholder="Posiłek" />
            </div>
            <div class="form-group">
                <label>Produkty:</label>
                <div class="table-responsive">
                    <table class="table" *ngIf="meal.Products && meal.Products.length">
                        <thead>
                            <tr>
                                <th>Produkt</th>
                                <th>B/Ww/T</th>
                                <th>cukier</th>
                                <th>Kcal</th>
                                <th>Ile (g)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of meal.Products">
                                <td>{{ product.name }}</td>
                                <td>{{ product.totalProteins }} <b>/</b> {{ product.totalCarbo }} <b>/</b> {{ product.totalFat }}</td>
                                <td>{{ product.totalSugar }}</td>
                                <td>{{ product.totalKCal }}</td>
                                <td>{{ product.amountInGrams }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-default" (click)="showProductSearcher()" [hidden]="productSearcherVisible">Dodaj</button>
            </div>
            <div class="form-group">
                <product-searcher *ngIf="productSearcherVisible" (onSelected)="onSelected($event)"></product-searcher>
                <button type="button" class="btn btn-default" (click)="hideProductSearcher()" [hidden]="!productSearcherVisible">Koniec</button>
            </div>
            <div class="form-group">
                <h4>Podsumowanie</h4>
                <div class="col-md-5ths">
                    <h5>Kalorie</h5>
                    <p>{{ meal.getTotalKCal() }}</p>
                </div>
                <div class="col-md-5ths">
                    <h5>Tłuszcz</h5>
                    <p>{{ meal.getTotalFat() }}</p>
                </div>
                <div class="col-md-5ths">
                    <h5>Białko</h5>
                    <p>{{ meal.getTotalProtein() }}</p>
                </div>
                <div class="col-md-5ths">
                    <h5>Węglowodany</h5>
                    <p>{{ meal.getTotalCarbo() }}</p>
                </div>
                <div class="col-md-5ths">
                    <h5>Cukier</h5>
                    <p>{{ meal.getTotalSugar() }}</p>
                </div>
            </div>
            <span (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false">
                <button type="submit" [disabled]="createMealForm.invalid" class="btn btn-primary">Dodaj</button>
            </span>
            <button type="button" (click)="cancel()" class="btn btn-default">Anuluj</button>
        </form>
    </div>
    <div class="col-md-2">

    </div>
</div>