<div class="row profile">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="profile-col">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="avatar-default.jpg" class="img-responsive" alt="" style="height: 200px; width: 200px;">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    Andrzej
                    <!--{{fullInfo.UserBaseInfo.Name}}-->
                </div>
                <div class="profile-usertitle-job">
                    Developer
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
                <button type="button" class="btn btn-default btn-sm">Dieta</button>
                <button type="button" class="btn btn-default btn-sm">Treningi</button>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="col-md-6">
                <h4>Informacje</h4>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            Wiek
                        </li>
                        <li>
                            Sta¿
                        </li>
                        <li>
                            Miasto
                        </li>
                        <li>
                            BF
                        </li>
                        <li>
                            Hobby
                        </li>
                        <li>
                            Cel
                        </li>
                        <li>
                            <button type="button" (click)="logout()">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Wyloguj
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Cele</h4>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            Wiek
                        </li>
                        <li>
                            Sta¿
                        </li>
                        <li>
                            Miasto
                        </li>
                        <li>
                            BF
                        </li>
                        <li>
                            Hobby
                        </li>
                        <li>
                            Cel
                        </li>
                        <li>
                            <button type="button" (click)="logout()">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Dodaj nowy
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- END MENU -->
        </div>
    </div>
</div>